body {
    background: linear-gradient(200deg, #025302, #027740, #05b965, #07e07b, #05532f);
    color: #ced8ae;
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px 3px rgb(27, 22, 22);
    background-size: auto 100%;
    background-repeat: cover;
    background-position: left top;
}

html, body {
    height: 1%;
} 

.container {
    display: block;
    margin: 20px;
}

.pointTotal {
    font-size: 40px;
    color: #bada55;
}

#roundsWon {
    margin-left: 5%;
    font-size: 45px;
}

.welcome {
    font-size: 80px;
    letter-spacing: 5px;
    text-align: center;
}

.letters, .lives, h4 {
    font-size: 30px;
    text-align: center;
}

.hint {
    font-size: 35px;
    text-align: center;
}

#words {
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin: 10px;
    letter-spacing: 20px;
}

.alphabet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#letterChoices {
    padding: 5px;
    margin: 5px;
    width: 2em;
    height: 10%;
    font-size: 2em;
    border: 2px solid white;
    text-align: center;
    box-shadow: 2px 2px 3px black;
}

#play {
    float: left;
    margin: 20px auto;
    font-size: 60px;
}

#your-guess {
    float: right;
    margin-right: 5%;
    font-size: 40px;
    color: #bada55;
}


@media screen and (max-width: 600px) {
    #letterChoices {
        margin-left: 3%;
        height: 5%;
        width: 9%;
        font-size: 15px;
    }
    
    #roundsWon {
        margin-left: 10%;
        font-size: 20px;
    }
    
    .welcome {
        font-size: 30px;
    }
    
    .letters, .lives, .hint, #your-guess, #play {
        font-size: 20px;
    }
    
    #words {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    .welcome, h4 {
        display: none;
    }

    #letterChoices {
        width: 9%;
    }

    .pointTotal {
        font-size: 15px;
    }

    #words {
        font-size: 10px;
    }
}